#reg_form{
    padding:2em;
}
.form_header h2{
    color:#fff;
}
.form_header{
   margin:1em;
}
#content{
    background: lightgreen;
    box-shadow: 0 0 10px rgba(54, 54, 54, 0.7);
}
.valid{
    border:1px solid #02ee1d;
}
.error{
    border:1px solid #ee8d77;
}