.restaurant_block{
    padding: 2em;
    text-align: center;
}
img.restaurant_photo:first-child{
    width: 100%;
}
img.restaurant_photo{
    width: 50%;
}
.dish_name{
    font-size: 1.2em;
}
ul{
    list-style: none;
    padding:0;
    margin-left:.2em;
}
ul>li{
    padding:.5em;
    margin:0;
}

.restorans_menu>li{
    padding:1em;
    text-transform: uppercase;
    cursor:pointer;
}
ul>li img{
    width:100%;
}
ul.dishes_list{
    text-transform: none;
}