.rest_name{
    font-size:1.5em;
    width:100%;
    color:white;
    background-color: lightgreen;
    /*border-bottom: 1px solid #575757;*/
}
.rest_logo{
    text-align: center;
    /*border: 1px solid #575757;*/
    padding:.5em;

}
.restaurant_block{
    margin:.5em;
    padding:.5em;
    text-align: center;
    background:white;
}