h1,h2,h3,h4{
    text-transform: uppercase;
}
h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1.3rem;
}
h3{
    font-size: 1.2rem;
}
h4{
    font-size: 1.1rem;
}
body{
    color:dimgray;
    background-image: url(../assets/images/cuisine.jpg);
}
a.link_no_line{
    text-decoration: none;
    color:dimgray;
}
#content{
    padding:2em;
    background: rgba(255, 255, 255, 0.9);
}
/**
footer
 */
.footer{
    margin-top: 2rem;
    padding-top:1rem;
    background: rgba(11, 5, 251, 0.3);
    color:rgba(255, 255, 255, 0.8);;
}
#footer_info>div>div{
    background: rgba(0, 0, 0, 0.3);
    padding:.5em;
    margin:.2em;
    min-height: 12rem;
}
.footer_logo{
    fill:white;
    height:3em;
}
.footer_rights{
    text-align: right;
    width:100%
}
/**
header
 */
.header{
    background: rgba(11, 5, 251, 0.3);
    margin-bottom: 2rem;
    padding-bottom:1rem;
}
@font-face {
    font-family: "Dancing Script";
    src: url("../assets/fonts/DancingScript-Bold.ttf");
}
/**
logo
 */

svg{
    fill:white;
    width:100px;
}
.logo_animate{
    position:absolute;
    fill: rgb(250, 250, 250);
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;

}
.logo_text{
    color:#fff;
    font-family: "Dancing Script", sans-serif;
    font-size: 3em;
}
/*@-moz-keyframes spin {50% {-moz-transform: rotateY(20deg);}}*/
/*@-webkit-keyframes spin {50% {-webkit-transform: rotateY(20deg);transform: rotateY(20deg);}}*/
@keyframes spin {25% {transform:rotateY(0deg);} 50% {transform:rotateY(5deg);} 75% {transform:rotateY(10deg);} }

i.fa-close-icon{
    color: white;
    font-size: 1em;
    padding:.5em;
    position:fixed;
    right:11em;
    top:0;
    z-index: 10;
}
ul#main_menu_device{
    position:fixed;
    right:0;
    top:0;
    z-index:6;
}
ul#main_menu_device>li{
    position: relative;
    padding: 1rem 2rem;
    border: none;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #4c228a;
    color: #D6D6D6;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
ul#main_menu_device>li:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 3px;
    width: 0;
    background-color: #fff;
    transition: all 0.25s ease-in-out;
}
ul#main_menu_device>li:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #fff;
    transition: all 0.25s ease-in-out;
}
ul#main_menu_device>li:hover {
    color: #fff;
    background-color: #58518a;;
}
ul#main_menu_device>li:hover::before, button:hover::after {
    width: 100%;
}
ul#main_menu_device>li>a{
    color:#fff;
    text-decoration: none;
}
.hide{
    display:none;
}
.show{
    display:block;
}

ul#main_menu{
    margin:0 1rem;
    padding:0 1em;
}
ul#main_menu>li{
    position: relative;
    padding: 1rem 2rem;
    border: none;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #4c228a;
    color: #D6D6D6;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
ul#main_menu>li:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 3px;
    width: 0;
    background-color: #fff;
    transition: all 0.25s ease-in-out;
}
ul#main_menu>li:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #fff;
    transition: all 0.25s ease-in-out;
}
ul#main_menu>li:hover {
    color: #fff;
    background-color: #58518a;;
}
ul#main_menu>li:hover::before, button:hover::after {
    width: 100%;
}
ul#main_menu>li>a{
    color:#fff;
    text-decoration: none;
}
div.lang_select{
    /*position:absolute;*/
    /*right:0;*/
    /*top:0;*/
    border:0;
}
div.lang_select select{
    padding:.5em;
}
p.welcome{
    font-size: 1.5em;
    color:white;
}
#auth{
    text-align:center;
}
#auth form>div{
    float:left;
    width:50%;
}
#auth form>button{
    float:left;
    width:50%;
}
#auth input {
    border:solid 1px #bdbfbb;
}
#auth a{
    color:#fff;
    text-decoration: none;
}
i.fa-navbar{
    color:white;
    font-size: 3rem;
    padding: .1em .7em 1em 0;
}
div#dark_background{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background:black;
    opacity:0.6;
    z-index:5;
}
/**
button
 */
button {
    position: relative;
    padding: .8rem;
    border: none;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #58518a;
    color: #fff;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
button:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 3px;
    width: 0;
    background-color: #fff;
    transition: all 0.25s ease-in-out;
}
button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #fff;
    transition: all 0.25s ease-in-out;
}
button:hover {
    color: #fff;
}
button:hover::before, button:hover::after {
    width: 100%;
}
button.success{
    background-color: #64eb6a;
}
button.danger{
    background-color: #f07953;
}
button:disabled{
    opacity:0.5;
    background-color: #a1a1ac;
}

input{
    padding:.5em;
    width:100%;
}
label{
    width:100%;
}
.buttons_block{
    text-align:center;
    margin:2em;
}
p.valid{
    border:1px solid #02ee1d;
}
p.error{
    border:1px solid #ee8d77;
}
p.error_text{
    font-size: 12px;
    background-color:rgba(255,255,255,0.5);
    color: #cf2c23;
    padding:.2em;
    -webkit-animation: fade-in 1s linear; /* Safari 4+ */
    -moz-animation: fade-in 1s linear; /* Fx 5+ */
    -o-animation: fade-in 1s linear; /* Opera 12+ */
    animation: fade-in 1s linear; /* IE 10+, Fx 29+ */
}
/** notations */
.notation{
    position:absolute;
    top:20%;
    padding:2em;
    transition: all 0.25s ease-in-out;
    left:40%;
    text-align:center;
    background:rgba(150,255,150,0.8);
}
.easy{
    transition: all 0.25s ease-in-out;
}
/*плавная загрузка*/
@-webkit-keyframes fade-in {   0% { opacity: 0.1; } 25% {opacity: 0.3;} 50% {opacity:0.5;} 75% {opacity:0.7;} 100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.1; } 25% {opacity: 0.3;} 50% {opacity:0.5;} 75% {opacity:0.7;} 100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.1; } 25% {opacity: 0.3;} 50% {opacity:0.5;} 75% {opacity:0.7;}  100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.1; } 25% {opacity: 0.3;} 50% {opacity:0.5;} 75% {opacity:0.7;}  100% { opacity: 1; }   }
/**
рестораны
 */
.rest_name{
    font-size:1.5em;
    width:100%;
    color:white;
    background-color: lightgreen;
    /*border-bottom: 1px solid #575757;*/
}
.rest_logo{
    text-align: center;
    /*border: 1px solid #575757;*/
    padding:.5em;

}
.restaurant_block{
    margin:.5em;
    padding:.5em;
    text-align: center;
    background:white;
}
/**
рестораны
 */
.restaurant_block{
    padding: 2em;
    text-align: center;
}
img.restaurant_photo:first-child{
    width: 100%;
}
img.restaurant_photo{
    width: 50%;
}
.dish_name{
    font-size: 1.2em;
}
ul{
    list-style: none;
    padding:0;
    margin-left:.2em;
}
ul>li{
    padding:.5em;
    margin:0;
}

.restorans_menu>li{
    padding:1em;
    text-transform: uppercase;
    cursor:pointer;
}
ul>li img{
    width:100%;
}
ul.dishes_list{
    text-transform: none;
}
/**
регистрация
 */

#reg_form{
    padding:2em;
}
.form_header h2{
    color:#fff;
}
.form_header{
    margin:1em;
}
#content{
    background: rgba(255 255 255 0.8);
    box-shadow: 0 0 10px rgba(54, 54, 54, 0.7);
}
.valid{
    border:1px solid #02ee1d;
}
.error{
    border:1px solid #ee8d77;
}
.order_waitress{
    background: #ffe160;
    margin:.5em;
    padding:1em;
}
.order_free{
    background:#ee8d77;
    margin:.5em;
    padding:1em;
}